.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 16px;
  background-color: var(--bg-gray-page);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

@media (width <= 1023.98px) {
  .container {
    padding: 18px 16px;
  }
}

.heading {
  margin-bottom: 20px;
  text-align: center;
}

.text {
  margin-top: 10px;
  font-size: 0.625rem;
  line-height: 1.55;
  text-align: center;
  text-decoration: none;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: var(--gray);
  text-decoration: none;

  &::after,
  &::before {
    flex: 1 1 0;
    height: 0.0625rem;
    content: '';
    border-top: 0.0625rem solid var(--gray);
  }

  &::before {
    margin-right: 8px;
  }

  &::after {
    margin-left: 8px;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
