API_URL="" # URL of the backend server
CALLBACK_URL="http://localhost:3000/app/dashboard" # REDIRECT for next-auth
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_TRUST_HOST="true" # Trust the host header
AUTH_URL="http://localhost:3000"
HMAC_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
DEBUG="true" # Enable debug mode
