.dashboard {
	padding: 20px;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 80px repeat(4, 90px);
	column-gap: 40px;
}
.header {

}
.content {
	margin-top: 30px;
}
.projectItem {
	margin: 10px 0;
}
