.button {
  font-weight: 600;
}

.s {
  padding: 10px 28px;
  font-size: 13px;
  border-radius: 4px;
}

.m {
  padding: 10px 28px;
  font-size: 15px;
  border-radius: 4px;
}

.primary {
  color: var(--white);
  background-color: var(--blue);
}

.beige {
  color: var(--blue);
  background-color: var(--beige);
}

.transparent {
  color: var(--main);
  background-color: transparent;
}

.primary:hover,
.beige:hover {
  filter: brightness(85%);
  transition: filter ease-in 300ms;
}

.transparent:hover {
  color: var(--blue);
  transition: color ease-in 300ms;
}
