.profile {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 15px;
  cursor: pointer;
}

.user {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--bg-gray-light);
  border-radius: 30px;
}

.userpic {
  width: 27px;
  height: 27px;
  margin-right: 5px;
  background-size: cover;
  border-radius: 50%;
}

.popover {
  width: 180px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0 0 16px 0 rgb(0 0 0 / 25%);
}

.logout {
  cursor: pointer;
}
