.item {
	padding: 18px;
	border-top: 1px dashed var(--gray);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.title {
	color: var(--gray-dark);
	font-weight: 600;
	font-size: 14px;
}
.icon {
	transform: rotate(0);
	transition: transform ease-in 0.3s;
}
.opened {
	transform: rotate(-90deg);
	transition: transform ease-in 0.3s;
}
.content {
	padding: 10px 0;
}
