.percent {
	display: inline-flex;
	align-items: center;
	border-radius: 3px;
}
.s {
	height: 20px;
	padding: 0 10px;
	font-size: 10px;
	font-weight: 700;
}

.m {
	height: 24px;
	padding: 0 10px;
	font-size: 10px;
	font-weight: 700;
}

.l {
	height: 30px;
	padding: 0 12px;
	font-size: 16px;
	font-weight: 700;
}
.rounded {
	border-radius: 20px;
}


.average {
	color: var(--white);
}
.average.filled {
	background-color: var(--bg-green);
	color: var(--green);
}
.average.transparent {
	color: var(--green);
}
.average.inversion {
	background-color: var(--green);
}
.average .icon {
	fill: var(--green);
}
.average.inversion .icon {
	fill: var(--white);
}


.below {
	color: var(--white);
}
.below.filled {
	background-color: var(--bg-orange);
	color: var(--orange);
}
.below.transparent {
	color: var(--orange);
}
.below.inversion {
	background-color: var(--orange);
}
.below .icon {
	fill: var(--orange);
	transform: rotate(180deg);
}
.below.inversion .icon {
	fill: var(--white);
}


.above {
	color: var(--white);
}
.above.filled {
	background-color: var(--bg-red);
	color: var(--red);
}
.above.transparent {
	color: var(--red);
}
.above.inversion {
	background-color: var(--red);
}
.above .icon {
	fill: var(--red);
}
.above.inversion .icon {
	fill: var(--white);
}


.na {
	color: var(--white);
}
.na.filled {
	background-color:  var(--bg-market-na);
	color: var(--gray);
}
.na.transparent {
	color: var(--gray);
}
.na.inversion {
	background-color:  var(--gray);
}

.icon {
	margin-right: 6px;
}
