.sidebarItem {
	padding: 14px 20px;
	border-top: 1px dashed var(--gray);
}

.sidebarNavEl {
	margin-top: 5px;
	margin-bottom: 15px;
}
.sidebarNavEl:last-of-type {
	margin-bottom: 0;
}

.fixed {
	position: fixed;
	margin: 0 20px;
	bottom: 50px;
	left: 0;
}

