.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: width 0.3s ease;
	z-index: 1000;
}

.overlay.open {
	width: 100%;
}

.modal {
	background: white;
	width: 370px;
	height: 100%;
	padding: 25px;
	box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
	position: relative;
}

.closeButton {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}
