.sidebarItem {
	/*margin: 0 20px;*/
	padding: 14px 20px;
	border-top: 1px dashed var(--gray);
}

.sidebarNav {
	max-height: 360px;
	overflow-y: scroll;
}

.sidebarProjectItem {
	margin-bottom: 15px;
}

.sidebarProjectItem:last-of-type {
	margin-bottom: 0;
}

.sidebarSubTitle {
	color: var(--gray);
}

.sidebarSubText {
	margin-top: 5px;
}

.counters {
	position: fixed;
	margin: 0 20px;
	bottom: 50px;
	left: 0;
}

.counterItem {
	margin-bottom: 6px;
}
.sub {
	margin-top: 5px;
}
