.percent {
	display: inline-flex;
	align-items: center;
	border-radius: 3px;
	color: var(--gray);
}

.icon {
	width: 12px;
	height: 12px;
	margin-right: 8px;
	fill: var(--gray);
}

.inputWrap {
	width: 40px;
}

.disabled {
	padding: 10px 5px;
}

.additional {
	font-size: 10px;
}

.highlight {
	color: var(--blue);
	font-size: 14px;
	font-weight: 700;
}

.highlight .icon {
	fill: var(--blue);
}
