.text {
  align-self: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--main-dark);
  border-top: 1px dashed var(--gray);
}
