.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-gray-page);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  max-width: calc(100vw - 32px);
  padding: 20px;
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.container :global(.ant-btn) {
  min-height: 44px;
}
