.title {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

.subTitle {
	position: relative;
	cursor: pointer;

}

.subTitle.opened {
	color: var(--blue);
}

.opened.title {
	color: var(--blue);
}

.icon {
	position: absolute;
	margin-right: 6px;
	transform: rotate(-90deg);
	transition: transform ease-in 0.3s;
	z-index: 10;
}


.title .icon {
	top: 24px;
	left: 6px;
	margin-right: 6px;
}
.subTitle .icon {
	top: 16px;
	left: 12px;
	margin-right: 6px;
}

.title.opened .icon,
.subTitle.opened .icon {
	transform: rotate(0deg);
	transition: transform ease-out 0.3s;
}

.content {
	/*padding: 10px;*/
	/*background: #fff;*/
}

.subTitle {
	/*cursor: pointer;*/
	/*padding: 10px;*/
	/*background: #e0e0e0;*/
	/*border-bottom: 1px solid #ccc;*/
}

.subContent {
	/*padding: 10px;*/
	/*background: #d0d0d0;*/
}
