.section {
  display: flex;
  flex: 1;
  justify-content: start;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .section:not(:last-child) {
    padding-bottom: 15px;
  }

  > .section:not(:first-child) {
    padding-top: 15px;
    border-top: 1px dashed var(--gray);
  }
}

.collapseHeader {
  align-items: center !important;
  padding: 0 !important;
}

.collapseIcon {
  margin-right: -10px;
  color: var(--gray) !important;
  stroke: var(--gray);
}

.collapseIconActive {
  transform: rotate(180deg);
}

.collapseLabelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapseLabel {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--gray-dark);
}

/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-no-qualifying-type */
.collapse :global(.ant-collapse-content-box) {
  padding: 0 !important;
  padding-top: 6px !important;
}
