:root {
  --min-width: 320;
  --max-width: 1280px;
  --font-family: 'Montserrat', 'Aria', sans-serif;

  /* COLOURS */
  --white: #fff;
  --beige: #f9f9f9;
  --gray-light: #a0a0a0;
  --gray: #99a1b7;
  --gray-dark: #3f3e3e;
  --main: #4b5675;
  --main-dark: #121b3e;
  --blue: #28f;
  --orange: #fd8258;
  --red: #d63c22;
  --green: #bed935;
  --green-darker: #a5c500;
  --bg-blue-subtotal: #f4fbff;
  --bg-blue-subsection: #f6f9ff;
  --bg-blue-important: #e1f5ff;
  --bg-market-na: #eff4fe;
  --bg-orange: #f8e4c5;
  --bg-green: #f4fbdb;
  --bg-light-green: #fcfff0;
  --bg-red: #f6dcd7;
  --bg-gray-light: #e5e5e5;
  --bg-gray-page: #f6f7f9;
  --text-gray: #99a1b7;
  --text-dark: #121b3e;
  --compare-green: #5ce191;
  --compare-green-light: #cce25f;
  --compare-yellow: #f8d977;
  --compare-orange: #fc9b73;
  --compare-red: #de644f;
  --box-shadow: 0 5px 16.5px -11px rgb(0 0 0 / 25%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 13px;
  font-weight: 500;
  color: var(--main);
  background-color: var(--white);
}

h2 {
  font-size: 14px;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

/* reset default styles */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-align: left;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none;
  cursor: pointer;
}

textarea {
  overflow: hidden auto;
  resize: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search']::-webkit-search-decoration {
  appearance: none;
}

[type='search'] {
  outline: none;
}

::-webkit-file-upload-button {
  font: inherit;
  appearance: button;
}
