.main {
  min-height: 100vh;
  padding: 6rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.flexItem {
  margin: 0 10px;
}

.section {
  min-width: 450px;
}

.item {
  margin: 20px 10px;
}

.input {
  display: inline-block;
  margin-left: 10px;
}

.modal {
  width: 370px;
  padding: 20px 30px;
  border: 1px solid #808080;
}

.text {
  padding: 5px 0;
}

.link {
  color: var(--blue);
}

