.main {
	/*text-align: center;*/
	padding: 6rem;
	min-height: 100vh;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.flexItem {
	margin: 0 10px;
}

.section {
	min-width: 450px;
}

.item {
	margin: 20px 10px;
}

.input {
	display: inline-block;
	margin-left: 10px;
}


