.rowContent {
  display: flex;
  gap: 5px;
  align-items: center;
}

.columnContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  height: 16px;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--gray-light);
}

.action {
  display: flex;
  gap: 3px;
  align-items: center;
  color: var(--gray-dark);
  cursor: pointer;
  transition: color ease-in 0.3s;

  &:not(.actionDisabled):hover {
    color: var(--gray);
  }
}

.actionDisabled {
  color: var(--gray-light);
  cursor: default;
}

.actionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionText {
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.inputGroup {
  gap: 5px;
}

.inputPrefix {
  position: relative;
  top: -4px;
  left: -6px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--gray-light);
}

/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-no-qualifying-type */
.input :global(.ant-input-number-input) {
  padding-right: 5px !important;
  text-align: right !important;
}
