.section {

}

.subsection {
	margin-left: 12px;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0 9px 0;
	cursor: pointer;
}

.title {
	flex-grow: 1;
}

.icon {
	margin-right: 6px;
}
