.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 0;
  background-color: rgb(0 0 0 / 50%);
  transition: width 0.3s ease;
}

.overlay.open {
  width: 100%;
}

.modal {
  position: relative;
  width: 370px;
  height: 100%;
  padding: 25px;
  background: #fff;
  box-shadow: -2px 0 10px rgb(0 0 0 / 10%);
}

.closeButton {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
