.counter {
	position: relative;
	padding: 5px 10px;
}
.counter::before {
	content: '';
	position: absolute;
	width: 1px;
	height: calc(100% - 16px);
	left: 0;
	top: 8px;
	background-color: var(--gray);
	border-radius: 1px;
}

.title {
	color: var(--gray);
}

.count {
	display: flex;
	align-items: flex-start;
	color: var(--gray);
	margin-top: 5px;
}

.currency {
	margin-top: 3px;
}

.num {
	margin-left: 6px;
	color: var(--main);
	font-size: 26px;
}

.count.primary .num {
	color: var(--blue);
}

.item {

}
