.wrapper {

}

.profile {
	position: relative;
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 15px;
	cursor: pointer;
}

.user {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	border-radius: 30px;
	background-color: var(--bg-gray-ligth);
	cursor: pointer;
}

.userpic {
	width: 27px;
	height: 27px;
	margin-right: 5px;
	border-radius: 50%;
	background-image: url('/images/userpic.png');
	background-size: cover;
}

.popover {
	width: 240px;
	background-color: var(--white);
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.logout {
	cursor: pointer;
}
