.collapseHeader {
  padding: 0 !important;
}

.collapseIcon {
  margin-right: -10px;
}

.collapseIconActive {
  transform: rotate(180deg);
}

.collapseLabelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapseLabel {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--gray-dark);
}

/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-no-qualifying-type */
.collapse :global(.ant-collapse-content-box) {
  padding: 0 !important;
  padding-top: 6px !important;
}
