.est {
	width: 100%;
	padding: 0 25px;
	/*grid-template-rows: 20px 1fr;*/
	/*grid-template-areas:*/
	/*	"hcontent haside"*/
	/*	"content aside";*/
	/*column-gap: 30px;*/
}

.grid {
	display: grid;
	grid-template-columns: calc(70% - 30px/2) calc(30% - 30px/2); /* 30px - column-gap */
	/*grid-template-areas:*/
	/*		"content aside";*/
	column-gap: 30px;
}

.accpart {
	background-color: var(--white);
	border-radius: 6px;
	padding: 16px 0;
}
.accsub {
	padding: 8px 0;
	background-color: var(--bg-blue-subsection);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: var(--boxShadow);
}
.accsum {
	padding: 18px 0;
	background-color: var(--bg-blue-important);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: var(--boxShadow);
}
.accsubsum {
	position: relative;
	padding: 10px 0;
	background-color: var(--bg-blue-subtotal);
	box-shadow: var(--boxShadow);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.part {
	position: relative;
	background-color: var(--white);
	border-radius: 6px;
}

.part:hover {
	background-color: var(--bg-blue-subsection);
}

.part:hover .settingsIcon,
.part:hover .removeIcon {
	visibility: visible;
}

.hcontent,
.haside {
	height: 30px;
}
.hcontent .icon,
.haside .icon {
	margin-top: 2px;
}

.contentGrid {
	width: 100%;
	display: grid;
	grid-template-columns: [start] 40px [iconEnd] 1fr [itemEnd] 80px [priceEnd] 140px [unitsEnd] 70px [quantityEnd] 90px [costEnd] 30px [end];
	align-items: center;
}

.asideGrid {
	width: 100%;
	display: grid;
	grid-template-columns: 20px repeat(4, calc((100% - 20px)/4));
	align-items: center;
}

.contentTotalGrid {
	width: 100%;
	display: grid;
	grid-template-columns: 40px 1fr 220px 160px 30px;
	align-items: center;
}
.asideTotalGrid {
	width: 100%;
	display: grid;
	grid-template-columns: 20px calc((100% - 20px)/4) calc((100% - 20px)/2) calc((100% - 20px)/4);
	align-items: center;
}

.section {
	margin-bottom: 20px;
}
.section.opened .sectionSum {
	display: grid;
}

.section.opened .sectionTitleSum,
.subsection.opened .subtotalSum {
	visibility: hidden;
}
.section.opened .sectionTitleSurcharge {
	visibility: visible;
}

.section.opened .accpart {
	border-radius: 6px 6px 0 0;
}

.sectionTitle {
	margin-left: -15px;
}
.sectionTitleSum,
.subSectionTitleSum {
	display: block;
}
.sectionTitleSurcharge {
	visibility: hidden;
}

.row {
	/*padding: 10px 0;*/
}

.row .part {
	border-radius: 0;
}

.row:last-child .part {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: var(--boxShadow);
}

.rowItem {
	padding: 10px 0;
}

.rowItem::before {
	content: '';
	position: absolute;
	width: calc(100% - 80px);
	height: 1px;
	top: 0;
	left: 40px;
	border-top: 1px dashed var(--gray-light);
}
.item {

}

.settingsIcon,
.removeIcon {
	visibility: hidden;
	cursor: pointer;
}
.icon {
	text-align: center;
}

.sectionSum {
	display: none;
}

.totalTitle {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.subtotalTitle {
	font-weight: 600;
}

.totalSum {
	padding-right: 20px;
	color: var(--blue);
	font-size: 16px;
	font-weight: 600;
	text-align: right;
}

.subtotalSum {
	font-size: 14px;
	/*font-weight: 700;*/
}

.subSectionSum {

}

.addItem {
	color: var(--gray-light);
	font-weight: 400;
	cursor: pointer;
}

.addItem span:hover {
	color: var(--blue);
	transition: color ease-in 0.3s;
}
