.dashboard {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1.7fr 110px 90px 90px 130px 140px 120px 60px;
  column-gap: 16px;
  align-items: center;
}

.header {
  padding: 3px 22px;
}

.content {
  margin-top: 10px;
}

.alignRight {
  text-align: right;
}
