.dashboard {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1.7fr 130px 110px 140px 130px 60px;
  column-gap: 16px;
  align-items: center;
}

.header {
  padding: 3px 22px;
}

.content {
  margin-top: 10px;
}

.alignRight {
  text-align: right;
}

@media (width <= 1023.98px) {
  .dashboard {
    padding: 16px;
  }

  .header {
    display: none;
  }

  .content {
    margin-top: 0;
  }
}
