.title {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 24px;
  left: 6px;
  margin-right: 6px;
  transition: transform ease-in 0.3s;
  transform: rotate(-90deg);
}

.opened .icon {
  transition: transform ease-out 0.3s;
  transform: rotate(0deg);
}

.opened.title {
  color: var(--blue);
}

.content {
  transition: height 0.3s ease;
}

.content:not(.opened) {
  height: 0;
  overflow: hidden;
}
