.accordion {

}

.title {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.icon {
	position: absolute;
	top: 24px;
	left: 6px;
	margin-right: 6px;
	transform: rotate(-90deg);
	transition: transform ease-in 0.3s;
}

.opened .icon {
	transform: rotate(0deg);
	transition: transform ease-out 0.3s;
}
.opened.title {
	color: var(--blue);
}

.content {
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease;
}
.contentInner {
	/*padding: 20px 8px;*/
}
