.client {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-right: 4px;
}

.column {
	width: 50%;
}

.section:not(:last-of-type) {
	margin-bottom: 12px;
}

.item {
	margin-bottom: 8px;
}

.flex {
	display: flex;
	justify-content: space-between;
}
